.img-1 {
  background-image: url(./components//routes/img/Email.png);
  background-position: 14px;
  background-repeat: no-repeat;
  padding-left: 44px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  background-size: 18px;
}

.img-2 {
  background-image: url(./components//routes/img/Cmpny.png);
  background-position: 15px;
  background-repeat: no-repeat;
  padding-left: 44px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  background-size: 16px;
}
.img-3 {
  background-image: url(./components//routes/img/user.png);
  background-position: 14px;
  background-repeat: no-repeat;
  padding-left: 44px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  background-size: 18px;
}

.img-4 {
  background-image: url(./components//routes/img/phone.png);
  background-position: 16px;
  background-repeat: no-repeat;
  padding-left: 44px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  background-size: 14px;
}
.img-5 {
  background-image: url(./components//routes/img/password.png);
  background-position: 14px;
  background-repeat: no-repeat;
  padding-left: 44px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  background-size: 18px;
}

.cmpny-img {
  background-image: url(./components//routes/img/cmpnylogo.png);
  background-size: 190px;
  padding: 100px;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
